body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


.mainHeader {
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    text-align: center;
}

.mainContent {
    background-color: lightgray;
    padding: 1em;
}
